@model List<CartItem>

<h2>Ваша корзина</h2>

<table class="table">
    <thead>
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Итого</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>
                        <img src="@item.ProductImageUrl" alt="@item.ProductName" style="width:50px;" />
                    @item.ProductName
                    </td>
                    <td>@item.ProductPrice</td>
                    <td>@(item.ProductPrice * item.Quantity)</td>
                    <td>
                        <form asp-action="RemoveFromCart" method="post">
                            <input type="hidden" name="productId" value="@item.ProductId" />
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
        }
    </tbody>
</table>

<a href="/Cart/Checkout" class="btn btn-primary">Перейти к оформлению</a>
